/* Font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap');

* {
    font-family: Roboto, san-serif;
}
/* game */
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.game-board {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    grid-template-areas: 
    "box1  box2  box3"
    "box4  box5  box6"
    "box7  box8  box9";
    gap: 10px;
}

.box {
    background-color: #fcd34d8c;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* visibility: hidden; */

    font-weight: 900;
    font-size: 3rem;

}

#box1 {
    grid-area: box1;
}
#box2 {
    grid-area: box2;
}
#box3 {
    grid-area: box3;
}
#box4 {
    grid-area: box4;
}
#box5 {
    grid-area: box5;
}
#box6 {
    grid-area: box6;
}
#box7 {
    grid-area: box7;
}
#box8 {
    grid-area: box8;
}
#box9 {
    grid-area: box9;
}

#reset {
    visibility: hidden;
}

.button {
    width: 4rem;
    height: 2rem;
    font-size: 1.3rem;
    border: none;
    background-color: white;
}

.button:hover {
    box-shadow: inset 0 -0.7rem 0 #fcd34dda;
}

.game-message {
    font-size: 1.2rem;
    font-weight: 800;
    height: 3rem;
    box-shadow: inset 0 -0.7rem 0 #fcd34dda;
}